# Here we set a bunch of parameters for your image build

# output image name, usually same as repo name, change as needed
IMAGE_NAME=kokinos

# Make this the same as your github username/organisation
REPO_ORGANIZATION="kokin-blip"
SOURCE_REPOSITORY="kokinOS"

IMAGE_DESC="KokinOS is a Bazzite-derived Fedora Atomic KDE image for gaming, programming, and everyday use."
IMAGE_KEYWORDS="kokinos,bazzite,fedora,atomic,kde,gaming,developer,bootc,oci,linux"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://raw.githubusercontent.com/kokin-blip/kokinOS/main/assets/brand/kokinos-logo.svg"
DEFAULT_TAG="stable"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
