[Desktop Entry]
Name=KokinOS
Comment=KokinOS Plasma desktop theme
X-KDE-PluginInfo-Name=KokinOS
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-License=Apache-2.0
